body {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: whitesmoke;
}

header {
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    margin-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
}

input:focus {
    outline: none;
}

button {
    margin-left: 10px;
    margin-right: 10px;
}

#login {
    color: white;
    margin-top: 15%;
    text-align: center;
    text-shadow: 3px 3px 0 black;
}

#username {
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 400%;
    background-color: transparent;
}

#username:focus {
    color: white;
    text-shadow: 0 0 5px black;
    border-bottom: solid #4292f9;
}

#greetings {
    color: white;
    font-size: 300%;
    text-shadow: 0 0 5px black;
}

#clock {
    color: white;
    margin-top: 10%;
}

#today-date {
    font-size: 200%;
    text-shadow: 0 0 5px black;
}

#today-time {
    font-size: 1000%;
    font-weight: bold;
    text-shadow: 5px 5px 0 black;
}

#today-ampm {
    font-size: 500%;
    text-shadow: 5px 5px 0 black;
}

#question {
    font-size: 500%;
    font-weight: bold;
}

#todo {
    margin-left: auto;
}

#todo-leverage {
    font-size: 150%;
    cursor: pointer;
    color: white;
    text-shadow: 0 0 5px black;
}

#todo-layer {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

#todo-list li {
    color: white;
}

#limit-message {
    color: red;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}