body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login {
    margin-top: 15%;
    text-align: center;
}

#username {
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 400%;
    text-align: center;
}

#username:focus {
    outline: none;
    border-bottom: solid #4292f9;
}

#greetings {
    font-size: 300%;
}

#clock {
    margin-top: 10%;
}

#today-date {
    font-size: 200%;
}

#today-time {
    font-size: 1000%;
    font-weight: bold;
}

#today-ampm {
    font-size: 500%;
}

#question {
    font-size: 500%;
    font-weight: bold;
}

.hidden {
    display: none;
}